html, body {
  margin: 0;
  padding: 10px;
}
canvas {
  display: block;
}

#banner{
  width: auto;
  padding:10px;
  padding-left: 20px;
  background-color:grey;
}
.banner_images{
  width:200px;
  height:200px;
}
#link_holders{
  display:flex;
}
.paths{
  border: 1px solid black;
  width:220px;
  margin-right:20px;
}